/* Pie de página */

.pie-página{
    margin-top: 500px;
    width: 100%;
    background-color: rgb(0, 0, 0);
}

.pie-página .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-página .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;   
}

.pie-página .grupo-1 .box figure img{
    width: 200px;
    height: 200px;
}

.pie-página .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-página .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
}

.pie-página .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-página .grupo-1 .red-social i{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: white;
    margin-right: 10px;
    background-color: #0d2033;
    text-align: center;
    transition: all 300ms ease;
}

.pie-página .grupo-1 .red-social a:hover{
    color: aquamarine;
}

.pie-página .grupo-2{
    background-color: #0a1a2a;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

/* Fin de página */